::-webkit-scrollbar {
  width: 0px;
}

.cardScrollContainer {
  cursor: grab;
  overflow-x: scroll;
}

.cardScroll {
  display: flex;
  width: 100%;
  gap: 10px;
}

.cardInfo {
  flex-shrink: 0;
  max-width: 348px;
  border-radius: 16px;
}
