#root {
    max-width: 6000px;
    margin: 0 auto;
    padding: 0 0 0 0;
    color-scheme: light;
}

:root {
    scroll-behavior: smooth;
}
  
body {
    min-width: min-content!important;
    max-width: 100%;
    display: inherit!important;
    font-family: Inter;
    color: black;
}


#gambartanaman {
    border-radius: 0.375rem!important;
}
.card-n {
    width: auto!important;
}

.input-group-text {
    display: inline-flex;
    padding: 0.375rem 0.75rem;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: #448E75;
    color: #F9FAFB;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-left: 8px!important;
    border-radius: 10px!important;
}
.input-group-text:hover {
    background: #356c5a;
    color: #F9FAFB;
}

.btn-green{
    display: inline-block;
    padding: 8px, 16px, 8px, 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: #448E75;
    color: #F9FAFB;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    border-radius: 10px;
}

.btn-green:hover{
    background: #356c5a;
    color: #F9FAFB;
}

.btn-outline-green{
    display: inline-block;
    padding: 8px, 16px, 8px, 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: #448E75;
    background: #ffffff;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    border-radius: 10px;
    border: 1px solid #D1D5DB;
}

.btn-outline-green:hover{
    border: 1px solid #448E75;
    color: #448E75;
}

@media (min-width:800px) {
    .btn-green{
        width: 245px;
    }
    .btn-outline-green{
        width: 245px;
    }
}
.m12{
    margin-right: 12px;
    margin-left: 12px;
}

.colorActive {
    color: #4B5563;
}

.breadcrumb-item {
    font-size: 12px;
}
.form-label{
    font-size: 20px;
    line-height: 28px;
}
.form-label-musim{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    padding-bottom: 8px;
}
.label-musim{
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}
.p-label{
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.d-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.b-none{
    background: #ffffff;
    border: 0px solid #ffffff;
}
.image-div{
    border: 2px dashed #ccc;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
}
.image-div:hover {
    border: 2px solid #c8c8c8;
}