.btnSecondary:hover,
.btnDanger:hover {
  background-color: #155724;
  border-color: #155724;
}

.btnOutlinePrimary:hover {
  color: white;
  background: #60a5fa !important;
}
.btnPrimary {
  background: #60a5fa !important;
  border: 1px solid #60a5fa !important;
  color: white;
}
.btnPrimary:hover {
  background: #5089cf !important;
  border: 1px solid #5089cf !important;
  color: white;
}
