
.table-container{
    width: 100%;
    background-color: white;
}

.table-head{
    border-width: 1px 0px;
    border-style: solid;
    border-color: black;
}

.table-body > tr:nth-child(even){
    background-color: #DCEEE8;
}

.table-body > tr > td{
    padding: 10px 0px 10px 10px;
    font-size: 16px;
    color: black;
    
}

.table-th{
    padding: 10px 4px;
    line-height: 24px;
}

.table-head-bodygap{
    height: 18px;
}