
.table-container{
    width: 100%;
    background-color: white;
}

.table-head{
    border-width: 1px 0px;
    border-style: solid;
    border-color: black;
}


.table-body > tr:nth-child(odd){
    background-color: #DCEEE8;
}



.table-th{
    padding: 10px 4px;
}