.container {
  background: var(--netral-100, #f3f4f6);
}

.header {
  display: flex;
  padding: 12px;
}

.selectBox {
  width: 140px;
}

.card {
  display: flex;
  padding: 16px 0;
  align-items: flex-start;
  align-content: flex-start;
  gap: 24px;
  flex: 1 0 0;
  align-self: stretch;
  flex-wrap: wrap;
}
