.tambahPengingat-parent {
  font-size: 24px;
  font-weight: 800;
}

.tambahPengingat-select {
  border-radius: 0px;
  border-bottom: 1px solid var(--stroke-10, rgba(107, 114, 128, 0.1));
  background: var(--netral-50, #f9fafb);
}
