.tambahPengingat-parent {
  font-size: 24px;
  font-weight: 800;
}

.tambahPengingat-label {
  font-size: 20px;
  font-weight: 600;
}

.tambahPengingat-select {
  width: 389px;
  height: 46px;
}

.tambahPengingat-Input {
  width: 389px;
  height: 46px;
}

.tambahPengingat-Input:disabled {
  background-color: #fff;
  width: 389px;
  height: 46px;
}
.tambahPengingat-date {
  border-color: #ced4da;
  border-radius: 4px;
  width: 278px;
  height: 38px;
}
.tambahPengingat-time {
  border-color: #ced4da;
  border-radius: 4px;
  width: 250px;
  height: 38px;
}

.tambahPengingat-kustom {
  color: #3b82f6;
  border: none;
}

.tambahPengingat-kustom:hover {
  color: #3b82f6;
  background-color: #fff;
}

.tambahPengingat-btnwaktu {
  background-color: #374151;
  border-color: #374151;
  border-radius: 4px;
}

.tambahPengingat-btnwaktu:hover {
  background-color: #374151;
  border-color: #374151;
}

.tambahPengingat-btnOutline {
  color: #51ab8c;
  border-color: #51ab8c;
  border-radius: 4px;
}

.tambahPengingat-btnOutline:hover {
  color: #51ab8c;
  background-color: #fff;
  border-color: #51ab8c;
}

.tambahPengingat-btnPrimary {
  background-color: #51ab8c;
  border-color: #51ab8c;
  border-radius: 4px;
}

.tambahPengingat-btnPrimary:hover {
  background-color: #51ab8c;
  border-color: #51ab8c;
}
