.tambahPengingat-parent {
  font-size: 24px;
  font-weight: 800;
}

.tambahPengingat-label {
  font-size: 20px;
  font-weight: 600;
}

.tambahPengingat-select {
  width: 389px;
  height: 46px;
}

.tambahPengingat-Input {
  width: 389px;
  height: 46px;
}

.tambahPengingat-Input:disabled {
  background-color: #fff;
  width: 389px;
  height: 46px;
}
.tambahPengingat-date {
  border-color: #ced4da;
  border-radius: 4px;
  width: 278px;
  height: 38px;
}
.tambahPengingat-time {
  border-color: #ced4da;
  border-radius: 4px;
  width: 250px;
  height: 38px;
}

.tambahPengingat-kustom {
  color: #3b82f6;
  border: none;
}

.tambahPengingat-kustom:hover {
  color: #3b82f6;
  background-color: #fff;
}

.tambahPengingat-btnwaktu {
  background-color: #374151;
  border-color: #374151;
  border-radius: 4px;
}

.tambahPengingat-btnwaktu:hover {
  background-color: #374151;
  border-color: #374151;
}

.tambahPengingat-btnOutline {
  color: #51ab8c;
  border-color: #51ab8c;
  border-radius: 4px;
}

.tambahPengingat-btnOutline:hover {
  color: #51ab8c;
  background-color: #fff;
  border-color: #51ab8c;
}

.tambahPengingat-btnPrimary {
  background-color: #51ab8c;
  border-color: #51ab8c;
  border-radius: 4px;
}

.tambahPengingat-btnPrimary:hover {
  background-color: #51ab8c;
  border-color: #51ab8c;
}

.tambahPengingat-modalTitle {
  font-size: 24px;
  font-weight: 600;
  text-align: left;
}

.tambahPengingat-modalFormLabel {
  font-size: 20px;
  font-weight: 600;
  text-align: left;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}

.tambahPengingat-modalFormBtnDone {
  background-color: #60a5fa;
  border-color: #60a5fa;
  font-size: 16px;
}

.tambahPengingat-modalFormBtnDone:hover {
  background-color: #60a5fa;
  border-color: #60a5fa;
}

.tambahPengingat-modalFormBtnCancel {
  color: #60a5fa;
  border: none;
}
.tambahPengingat-modalFormBtnCancel:hover {
  background-color: #fff;
  color: #60a5fa;
  border: none;
}

.tambahPengingat-modalInputnumber {
  width: 52px;
  height: 38px;
  background-color: #f3f4f6;
  border: #e5e7eb;
}

.tambahPengingat-modalInputnumberControl {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.tambahPengingat-modalControl {
  background-color: #fff;
  border: none;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tambahPengingat-modalHari {
  width: 125px;
  height: 38px;
  background-color: #f3f4f6;
  border: #e5e7eb;
}

.tambahpPengingat-modalGap {
  gap: 75px;
}

.tambahPengingat-modal {
  width: 453px;
}

.weekDays-selector input {
  display: none !important;
}

.tambahPengingat-stateKostumPengingat {
  color: #6b7280;
  font-size: 12px;
  font-weight: 400;
  background-color: #e5e7eb;
  border: 1px solid #6b728040;
  border-radius: 4px;
  padding: 4px 8px;
  width: fit-content;
}

.weekDays-selector input[type="checkbox"] + label {
  display: inline-block;
  border-radius: 50px;
  border: 0.5px solid var(--stroke-25, rgba(107, 114, 128, 0.25));
  background: #fff;
  height: 24px;
  width: 24px;
  font-size: 16px;
  margin-right: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
}

.weekDays-selector input[type="checkbox"]:checked + label {
  background: #2563eb;
  color: #ffffff;
}
