.dashboard {
    display: flex;
    padding: var(--spacing-space-0, 0px);
    justify-content: center;
    align-items: center;
    gap: 20px;
    align-self: stretch;
}

.border {
    position: relative;
    display: flex;
    height: 120px;
    padding: 30px 20px;
    align-items: center;
    gap: var(--corner-radius-l, 10px);
    flex: 1 0 0;
    border-radius: var(--corner-radius-l, 10px);
    background: var(--netral-50, #F9FAFB);
}

.border3 {
    position: relative;
    display: flex;
    width: 320px;
    height: 120px;
    padding: 30px 20px;
    align-items: center;
    gap: var(--corner-radius-l, 10px);
    border-radius: var(--corner-radius-l, 10px);
    background: var(--success-500, #10B981);
}

.img {
    position: absolute;
    right: 0;
}

.suhu{
    color: var(--netral-50, #F9FAFB);
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.suhu2{
    color: var(--netral-50, #F9FAFB);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text1{
    color: var(--netral-900, #111827);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.text2{
    color: var(--netral-900, #111827);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}